<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-TW">
<head>
	<meta charset="UTF-8">
	<title>選擇取餐方式</title>
	<meta name='description' content=""/>
	<meta name='keywords' content=""/>
	<meta name="MobileOptimized" content="width">
	<meta name="HandheldFriendly" content="true">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<link rel="stylesheet" href="css/standard.css">
	<link rel="stylesheet" href="css/theme_pad.css">
</head>
<body>
	<main id="main" class="shop_mainbox shopping_order">
		<section class="loading_area" style="display: none;">
			<div class="loader"></div>
		</section>

		<header>
			<!-- web版才有top_bar -->
			<div class="top_bar flex_center">
				<div class="shop_name">麥町吐司工房-新莊中原店</div>
				
				<!-- 未登入狀態顯示 -->
				<div class="open_menu" style="display: none;"><a @click.prevent="menberLogin"><i class="fas fa-user"></i></a></div>
	
				<!-- 已登入狀態顯示 -->
				<div class="open_menu" onclick="$('.menu_user').fadeIn(300);" v-else><i class="fas fa-user-check"></i></div>
			</div>

			<!-- web版才有會員選單 -->
			<div class="menu_user">
				<div class="overlay_bg" onclick="$(this).closest('.menu_user').fadeOut(100);"></div>
				<div class="menu_title">
					<div class="user_name"><i class="fas fa-user-check"></i> Hi, Rocio</div>
					<button class="close" ref="categoryList" onclick="$(this).closest('.menu_user').fadeOut(100);"><i class="fas fa-times"></i></button>
				</div>
				<div class="menu_list">
					<a href="pad_index.html"><i class="fas fa-utensils"></i> 點餐</a>
					<a href="../portal/web_userdata"><i class="fas fa-user-edit"></i> 會員資料</a>
					<a href="../portal/web_order"><i class="far fa-file-alt"></i> 訂單查詢</a>
					<a href="#"><i class="fas fa-sign-out-alt"></i> 登出</a>
				</div>
			</div>
		</header>

		<section class="order_tools">
			<div class="container flex_center">
				<a v-if="isAccountAddons" class="btn back" href="pad_other.html">上一步</a> 
				<a id="nextPage" class="btn next" href="pad_step2.html">下一步</a>
			</div>
		</section>

		<section class="content_box">
			<!-- 取餐方式STEP -->
			<div class="top_step">
				<div class="container flex_center">
					<p class="btn_in"><span>Step1.</span> 取餐方式</p>
					<i class="fas fa-long-arrow-alt-right"></i>
					<p><span>Step2.</span> 訂購資訊</p>
				</div>
			</div>

			<!-- 一般的購物車列表 -->
			<div class="container">
			<form class="shopping_cart">
				<div class="title">麥町吐司工房-新莊中原店</div>
				<a class="open_order_detail" onclick="$(this).next('.order_list').toggle();"><i class="fas fa-plus"></i> 商品明細</a>
				<table class="order_list" cellpadding="0" cellspacing="0" style="display: none;">
					<thead>
						<tr>
							<th class="name">商品名稱</th>
							<th class="nb">數量</th>
							<th class="kcal">卡路里</th>
							<th class="money">金額</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="name">紅茶<span>加珍珠$5</span></td>
							<td class="nb">1</td>
							<td class="kcal">500</td>
							<td class="money">$<b>25</b></td>
						</tr>
						<tr>
							<td class="name">塑膠袋1個</td>
							<td class="nb">&nbsp;</td>
							<td class="kcal">&nbsp;</td>
							<td class="money">$<b>3</b></td>
						</tr>
					</tbody>
				</table>

				<div class="totalbar">
					總計 <b>3</b> 項 / 共 <span class="price">$<b>299</b></span>
					<div class="kcal">總卡路里：500kcal</div>
				</div>

			</form>
	
			<form class="shopping_cart">
				<div class="title">取餐方式</div>

				<div class="title_s"><span class="f_red">購買5項商品以上</span><span>並且</span><span
						class="f_red">消費滿500元以上</span>外送免運費</div>
						
				<div class="title_s"><span class="f_red">購買5項商品以上</span><span>並且</span><span
					class="f_red">消費滿500元以上</span>即可外送</div>

				<ul class="get_way flex_center">
					<li class="the_selected">
						<p>內用</p>
					</li>
					<li>
						<p>外帶</p>
					</li>
				</ul>

				<ul class="get_way flex_center">
					<li class="the_selected">
						<p class="table_num" ref="keyInTableNumberRef">桌號</p>
						<div class="a_box">：
							<input id="tableNumber" class="fill_in" type="text" ref="tableNumberInput" name="" placeholder="請輸入" maxlength="10">
						</div>	
					</li>
					<li>
						<p>無桌號</p>
					</li>
				</ul>
			</form>
	
			<!-- <form v-if="orderData.mealType == 'delivery'" class="shopping_cart" @submit.prevent>
					<div class="title_s">希望送達時間</div>
				</form> -->
	
			<form class="shopping_cart">
				<!-- <div class="title">希望送達時間</div> -->
				<div class="title" v-else>取餐時間</div>
				<div class="time_choosed flex_center">
					<p>2020-09-13 16:59</p><i class="fas fa-chevron-down"></i>
				</div>			
			</form>
			</div><!-- END .container -->
		</section>
	
		<div class="sys_btn flex_center" style="display: none;">
			<!-- <a class="back" href="#" v-on:click="prevPage()">上一步</a> -->
			<a class="next" href="#selectDateTime" ref="dateTimeModal" rel="modal:open" style="display: none;"></a>
			<a class="back" ref="closedateTimeModal" href="#" rel="modal:close" style="display: none;"></a>
		</div>

		<div id="selectDateTime" class="modal">
			<div class="title">選擇日期</div>
			<div class="styled-select">
				<select class="fill_in">
					<option value="option.value">2020-09-13</option>
				</select>
			</div>
			
			<br>
			<div class="title">選擇時間</div>
			<div class="styled-select">
				<select class="fill_in">
					<option>17:00</option>
				</select>
			</div>
			<div class="sys_btn flex_center">
				<a class="back" rel="modal:close">關閉</a>
				<a class="next" class="done">確定</a>
			</div>
		</div>	
	</main>
</body>
</html>